<%- include("partials/header.ejs") %>

<br>
<section class="vh-100">
<div class="container">
<h1 class="text-white display-3 text-center">Create Your Post</h1>
<form action="/submit" method="POST">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="text-white form-label">Create Your Header</label>
  <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" name="Post_Header" 
  placeholder="What Will Your Header Say?">
</div>
<br>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="text-white form-label">What Will It Say?</label>
  <textarea class="form-control" id="Post_Body" rows="3" name="Post_Body"></textarea>
</div>
<div class="d-grid gap-2 d-md-flex text-center justify-content-md-start">
  <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2 text-center">
    Submit Your Post!</button>
</div>
</form>
</div>
</section>
<%- include("partials/footer.ejs") %>